
{% load static %}
<!DOCTYPE html>
    <html lang="en">
    
      <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
        <title>Isabuhay - Create CBC Test Result</title>
    
        <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--
    
    TemplateMo 570 Chain App Dev
    
    https://templatemo.com/tm-570-chain-app-dev
    
    -->
    
         <!-- Additional CSS Files -->
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css' %}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
         <link rel="stylesheet" href="{% static 'assets/css/templatemo-chain-app-dev.css' %}">
         <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
         <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
     
        <!-- Buttonsss -->
        
        <style>
          button{
            border-radius: 25px;
            padding: 10px;
            width: 125px;
            color: white;
            border: none;
            background-image: linear-gradient(to right, rgb(88,110,236), rgb(43,217,252));
          }

          .Input{
            margin: auto;
            max-width: 400px;
            padding: 10px;
            border-radius: 4px;
          }
        </style>
    
      </head>
    
    <body>
    
      <!-- ***** Preloader Start ***** -->
      <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
          <span class="dot"></span>
          <div class="dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <!-- ***** Preloader End ***** -->
    
      <!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="#" class="logo">
                  <img src="{% static 'assets/images/logo.png' %}" alt="Chain App Dev">
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li class="scroll-to-section"><a href="{% url 'DisplayAllCBCTestResult' %}">Reports</a></li>
                    <li class="scroll-to-section"><a href="#">Analytics</a></li>
                    <li class="scroll-to-section"><a href="#">Account</a></li>
                    <li class="scroll-to-section"><a href="#">Sign Out</a></li>
                  <!-- <li class="scroll-to-section"><a href="#">Newsletter</a></li> -->
                  <!-- <li><div class="gradient-button"><a id="modal_trigger" href="#"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li>  -->
                  <li></li>
                </ul>        
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!-- ***** Header Area End ***** -->

      <div id="services" class="services section"> 
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="section-heading show-up header-text  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                <h4>Create <em>CBC Test Result</em></h4>
                <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
                <p>Want to create this CBC Test Result?</p>
                {% if type == 'docx' %}
                <p><a href="{% url 'DeleteDocx' object.pk %}">Go Back to Previous Page</a></p>
                {% elif type == 'pdf' %}
                <p><a href="{% url 'DeletePDF' object.pk %}">Go Back to Previous Page</a></p>
                {% elif type == 'image' %}
                <p><a href="{% url 'DeleteUploadedImage' object.pk %}">Go Back to Previous Page</a></p>
                {% elif type == 'picture' %}
                <p><a href="{% url 'DeleteCapturedImage' object.pk %}">Go Back to Previous Page</a></p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="contentarea wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="Input">
            <form action="." method="POST" >
              {% csrf_token %}
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Add CBC Test Result</h4>
              </div>
              <div class="modal-body">
                
          <div class="form-group">
            <label>Source</label>
            <input type="text"  name="source" class="form-control" required value="{{source}}" >
        </div>
        <div class="form-group">
            <label>Lab Number</label>
            <input type="text"  name="labNumber" class="form-control" required value="{{labNumber}}" >
        </div>
        <div class="form-group">
          <label>PID Number</label>
          <input type="text"  name="pid" class="form-control" required  value="{{source}}" >
        </div>
        <div class="form-group">
          <label>dateRequested</label>
          <input type="datetime"  name="dateRequested" class="form-control" required value="{{dateRequested}}" >
      </div>
      <div class="form-group">
        <label>dateReceived</label>
        <input type="datetime"  name="dateReceived" class="form-control" required value="{{dateReceived}}" >
    </div>
              <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                      <div class="form-group">
                          <label>WBC</label>
                          <input type="number"  name="whiteBloodCells" class="form-control" min=0 step="any" min=0 step="any" required  value="{{whiteBloodCells}}" >
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                      <div class="form-group">
                          <label>RBC</label>
                          <input type="number"  name="redBloodCells" class="form-control" min=0 step="any" required  value="{{redBloodCells}}" >
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="form-group">
                        <label>HGB</label>
                        <input type="number"  name="hemoglobin" class="form-control" min=0 step="any" required  value="{{hemoglobin}}" >
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="form-group">
                        <label>HCT</label>
                        <input type="number"  name="hematocrit" class="form-control" min=0 step="any" required  value="{{hematocrit}}" >
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="form-group">
                        <label>MCV</label>
                        <input type="number"  name="meanCorpuscularVolume" class="form-control" min=0 step="any" required  value="{{meanCorpuscularVolume}}" >
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="form-group">
                      <label>MCH</label>
                      <input type="number"  name="meanCorpuscularHb" class="form-control" min=0 step="any" required  value="{{meanCorpuscularHb}}" >
                  </div>
              </div>
              </div>
              <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="form-group">
                      <label>MCHC</label>
                      <input type="number"  name="meanCorpuscularHbConc" class="form-control" min=0 step="any" required  value="{{meanCorpuscularHbConc}}" >
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="form-group">
                      <label>RDW</label>
                      <input type="number"  name="rbcDistributionWidth" class="form-control" min=0 step="any" required  value="{{rbcDistributionWidth}}" >
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="form-group">
                    <label>PLT</label>
                    <input type="number"  name="plateletCount" class="form-control" min=0 step="any" required  value="{{plateletCount}}" >
                </div>
              </div>
              </div>
              <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="form-group">
                    <label>SEGMENTERS</label>
                    <input type="number"  name="segmenters" class="form-control" min=0 step="any" required  value="{{segmenters}}" >
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="form-group">
                    <label>LYMPH</label>
                    <input type="number"  name="lymphocytes" class="form-control" min=0 step="any" required  value="{{lymphocytes}}" >
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                  <label>MONO</label>
                  <input type="number"  name="monocytes" class="form-control" min=0 step="any" required  value="{{monocytes}}" >
              </div>
              </div>
              </div>
              <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                  <label>EOS</label>
                  <input type="number"  name="eosinophils" class="form-control" min=0 step="any" required  value="{{eosinophils}}" >
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                  <label>BASO</label>
                  <input type="number"  name="basophils" class="form-control" min=0 step="any" required  value="{{basophils}}" >
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                <label>BANDS</label>
                <input type="number"  name="bands" class="form-control" min=0 step="any" required  value="{{bands}}" >
              </div>
              </div>
              </div>
              <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                  <label>ABS SEGMENTERS</label>
                  <input type="number"  name="absoluteSeg" class="form-control" min=0 step="any" required  value="{{absoluteSeg}}" >
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                  <label>ABS LYMPH</label>
                  <input type="number"  name="absoluteLymphocyteCount" class="form-control" min=0 step="any" required  value="{{absoluteLymphocyteCount}}" >
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                <label>ABS MONO</label>
                <input type="number"  name="absoluteMonocyteCount" class="form-control" min=0 step="any" required  value="{{absoluteMonocyteCount}}" >
              </div>
              </div>
              </div>
              <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                  <label>ABS EOS</label>
                  <input type="number"  name="absoluteEosinophilCount" class="form-control" min=0 step="any" required  value="{{absoluteEosinophilCount}}" >
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                  <label>ABS BASO</label>
                  <input type="number"  name="absoluteBasophilCount" class="form-control" min=0 step="any" required  value="{{absoluteBasophilCount}}" >
              </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
              <div class="form-group">
                <label>ABS BAND</label>
                <input type="number"  name="absoluteBandCount" class="form-control" min=0 step="any" required  value="{{absoluteBandCount}}" >
              </div>
              </div>
              </div>
              </div>
              <div class="modal-footer">
                {% if type == 'docx' %}
                <a href="{% url 'UploadDocx' %}">Cancel</a>
                {% elif type == 'pdf' %}
                <a href="{% url 'UploadPDF' %}">Cancel</a>
                {% elif type == 'image' %}
                <a href="{% url 'UploadImage' %}">Cancel</a>
                {% elif type == 'picture' %}
                <a href="{% url 'CaptureImage' %}">Cancel</a>
                {% endif %}
              <button type="submit">
              <span >Add</span>
              </button>
              </div>
              </form>
          </div>
        </div>
      </div>
    
      <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/animation.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
    </body>
    </html>

    